{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Entry
{% endblock %}

{% block body %}

  <h1>Create a new entry:</h1>

  <p>Use the form below to create a new entry and add to the collective knowledge of the human race!</p>
  <p>Please note that all entries are styled with <a href="https://docs.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax">Github Markdown</a>.</p>

  <form action="{% url 'create' %}" method="post">
    {% csrf_token %}
    {{ create_form }}
    <input class= "btn btn-primary" type="submit" value="Submit">
  </form>

{% endblock %}